<div class="row pb-5">

    <div *ngFor="let movie of movies" class="col-12 col-lg-2">
        <!-- CARD-->
        <div class="card">
            <img [src]="getUrlImage(movie.image)" alt="">
            
            <div class="card-body">
                <h2>{{movie.titre}}</h2>  
            </div>
        </div>
        <!-- FIN CARD-->
    </div>

</div>

<!-- BAR BUTTON "Films suivants" -->
<div class="next-movies">
    <button (click)="getNextMoviesOnAction()" class="btn btn-light">Films suivants</button>
</div>